<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Hi, I'm in the app.component.html</h3>
      <hr>
      <app-servers></app-servers>
      <hr>
      <app-warning-alert></app-warning-alert>
      <app-succes-alert></app-succes-alert>
      <hr>
      <label>Username</label>
      <input type="text" class="form-control" [(ngModel)]="username">
      <p>{{username}}</p>
      <button 
      class="btn btn-primary" 
      [disabled]="username === '' " 
      (click)="username = '' "
      >Reset User</button>
      <hr>
      <button class="btn btn-primary" (click)="showSecretPassword = !showSecretPassword">Toggle details</button>
      <button class="btn btn-primary" (click)="onToggleDetails()">Toggle details with log</button>
      <p *ngIf="showSecretPassword">Secret Password = Tuna</p>
      <div 
      *ngFor="let logItem of log"
      >{{logItem}}</div>
    </div>
  </div>
</div>